[Desktop Entry]
Type=Application
Name=AMDGPU TOP (GUI)
GenericName=AMDGPU Monitoring Tool
Exec=amdgpu_top --gui
Categories=System;Monitor;
Icon=utilities-system-monitor
